.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 6rem;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.leftSection {
  width: 100%;
  position: relative;
}

@media (min-width: 1024px) {
  .leftSection {
    width: 50%;
  }
}

.cardImage {
  display: none;
}

@media (min-width: 1280px) {
  .cardImage {
    display: block;
    position: absolute;
    top: 10rem; 
    left: 10%;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .rightSection {
    width: 511px;
  }
}

@media (min-width: 768px) {
  .rightSection {
    padding-right: 8rem;
  }
}

@media (min-width: 1024px) {
  .rightSection {
    padding-right: 0;
  }
}

.heading {
  color: #171c22;
  font-weight: 500;
  font-size: 2rem;
  line-height: 124%;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3.125rem;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3rem;
  }
}

.italicText {
  color: #0898a0;
  font-style: italic;
}

.paragraph {
  color: #71879c;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
}

@media (min-width: 1024px) {
  .paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .paragraph {
    padding-right: 7rem;
  }
}

.ctaButton {
  background-color: #71879c0d;
  color: #0898a0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 0;
  border-radius: 50px;
  transition: all 1s ease-in-out;
  width: 90%;
}

@media (min-width: 640px) {
  .ctaButton {
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .ctaButton {
    font-size: 1rem;
  }
}

.ctaButton span {
  padding-right: 0.75rem;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.ctaButton:hover .icon {
  transform: translateX(4px);
}
