.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5rem;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.heading {
  font-weight: 700;
  font-size: 24px;
  color: black;
  line-height: 124%;
  text-align: center;
}

@media (min-width: 1024px) {
  .heading {
    font-weight: 600;
    font-size: 48px;
  }
}

.highlight {
  font-weight: 600;
  font-style: italic;
  color: #0898a0;
}

@media (min-width: 1024px) {
  .highlight {
    font-weight: 500;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

@media (min-width: 1024px) {
  .imageContainer {
    justify-content: space-between;
    flex-direction: row;
  }
}

.image {
  width: 372px;
}

@media (min-width: 1024px) {
  .image {
    width: 300px;
  }
}

@media (min-width: 1280px) {
  .image {
    width: 372px;
  }
}
