.container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5rem; 
}

.heading {
  font-weight: 600; 
  font-size: 48px;
  color: black;
  line-height: 124%;
}

.highlight {
  font-weight: 500; 
  font-style: italic;
  color: #0898A0;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.image {
  width: 372px;
}
